.cards-product > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-product > ul > li {
  border: 1px solid var(--light-color);
  background-color: var(--background-color);
}

.cards-product .cards-product-card-body {
  margin: 1rem;
}

.cards-product .cards-product-card-image {
  line-height: 0;
}

.cards-product .cards-product-card-body > *:first-child {
  margin-top: 0;
}

.cards-product .cards-product-card-body > *:last-child {
  margin-bottom: 0;
}

.cards-product .cards-product-card-image img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
